.login__input{
    border: 1px solid var(--dark);
    border-radius: 0.45rem;
    box-sizing: border-box;
    color: var(--green);
    margin: 0.5rem 0;
    padding: .85rem 1.5rem;
    outline: none;
    width: 100%;
}
    .login__input:focus, .login__input:active{
        border: 1px solid var(--green);
    } 
.input--error{
    border: 1px solid var(--orange);
    color: var(--yellow);
}

.login__label{
    text-align: start;
}